.description{
    background: white;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px 20px 15px;
    box-shadow: 3px 4px 3px #888;
}
.about_title{
    width: 95%;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid #b9b9b9;
}
.description p{
    margin-top: 5px;
    padding: 0px 0px 10px
}
.blog_comments{
    width: 100%;
    /*background: pink;*/
}
.blog_comments_msg{
    margin-top: 20px;
    padding: 10px;
    display: inline-block;;
    width: 100%;
    text-align: left;
}
.blog_comment{
    width: 95%;
    background: #d9edf7;
    border: 1px dashed #7ca4c1;
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: #31708f;
    text-align: left;
}
.blog_comments span{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}
.blog_comment div{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}
