*{
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
    text-align: center;
    /*background: pink;*/
    background:url("http://pic1.sc.chinaz.com/files/pic/pic9/201903/zzpic17012.jpg")
}
.header{
    width: 100%;
    height: 50px;
    background: #191818;
}
.container{
    position: relative;
    width: 1170px;
    height: 50px;
    margin: 0px auto;
}
.title{
    display:inline-block;
    float: left;
    color: #eeeeee;
    line-height: 50px;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 18px;
}
.menu{
    float: left;
}
.menu > li {
    display: inline-block;;
    flaot: left;
    height: 50px;
    width: 58px;
    font-size: 14px;
    line-height: 50px;
    color: #eeeeee;
}
.menu > li > a {
    text-decoration: none;
    color: #fff;
}
.search_bar > input {
    display: inline-block;
    position: absolute;
    height: 22px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none; /*去掉输入框选中蓝色方框*/
    border: 1px solid;
    font-size: 14px;
    top: 50%;
    margin-top: -18px;
    right: 60px;
}
.search_bar > button{
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 34px;
    padding: 5px 10px;
    border-radius: 8px;
    top: 50%;
    margin-top: -18px;
    outline: none;
    color: #555555;
    right: 0px;
    background: antiquewhite;
}
.content{
    border-radius: 5px;
    display: inline-block;
    position: relative;
    width: 1170px;
    margin: 30px auto 0px auto;
    background: #fff;
}
.content_left{
    float: left;
    width: 60%;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
}
.content_right{
   float: right;
    width: 34%;
    padding: 0px 0px 0px 0px;
}
/*随机标签云*/
.right_moodule{
    display: inline-block;
    width: 92%;
    background: linear-gradient(to left,rgba(244, 157, 45, 0.4) , rgba(250, 47, 82, 0.4));
    /*background: rgba(255,173,183,0.5);*/
    color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 0px 15px 25px 15px;
    box-shadow: 1px 2px 2px #888;
    margin-bottom: 20px;
}
.right_moodule div{
    display: block;
    text-align: left;
    font-size: 18px;
    padding: 15px 5px 15px 0px;
    color: rgb(250, 47, 82);
}
.right_moodule > a{
    display: inline-block;
    font-size: 16px;
    color: rgb(244, 157, 45);
    margin-right: 5px;
    text-decoration: none;
}
.right_moodule > ul > li{
    list-style: none;
    color: rgb(244, 157, 45);
    padding: 8px 0px;
    border-bottom: 0.1px solid  rgb(250, 47, 82);
}
.right_moodule > ul > li > a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.right_moodule > ul > li > div{
     padding: 5px 0px;
 }
.right_moodule > ul > li > div > span{
    font-size: 14px;
    color: rgb(244, 157, 45);
}
.right_moodule > ul > li > p{
    font-size: 14px;
    color: #777;
}
.pull-right{
    position: absolute;
    right: 15px;
}
.right_moodule > span{
    display: inline-block;
    width: 49%;
    height: 30px;
    margin-top: 10px;
}
.right_moodule > span > a{
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
}
.footer{
    width: 100%;
    height: 60px;
    background: #191818;
    text-align: center;
    padding: 20px;
}
.footer > ul{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
.footer > ul > li{
    display: inline-block;
    color: #000;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
.footer > p{
    margin-top: 10px;
    color: #a2a2a2;
}
