.description{
    background: white;
    width: 96%;
    border-radius: 5px;
    padding: 30px 15px 30px 15px;
    box-shadow: 3px 4px 3px #888;
}
.description p{
    text-align: left;
    margin-top: 5px;
    padding: 0px 0px 10px;
    font-size: 15px;
}

.blog_comments_msg{
    margin-top: 20px;
    padding: 10px;
    display: inline-block;;
    width: 100%;
    text-align: left;
}
.blog_comment{
    width: 95%;
    background: #d9edf7;
    border: 1px dashed #7ca4c1;
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: #31708f;
    text-align: left;
}
.blog_comments span{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}
.blog_comment div{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}